@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux personnalisés */
body {
    font-family: 'Inter', sans-serif;
    /* Utilisation de la police Inter */
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Appliquer des coins arrondis à tous les éléments */


/* Ajustements pour les éléments interactifs */
button,
a {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

button:hover,
a:hover {
    transform: translateY(-1px);
    /* Léger effet de soulèvement */
}

/* Assurer une bonne taille de cible tactile */
button,
input[type="submit"],
input[type="button"],
select {
    min-height: 44px;
    /* Recommandation pour les cibles tactiles */
    min-width: 44px;
}